.links{
    font-size: small;
    padding: 1rem;
    display: flex;
    align-content: space-between;

}
.links div{
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    flex:1;
}
.links div a{
    opacity: 0.5;
    text-decoration: none;
}
.links div a:hover{
    opacity: 5;
    text-decoration: underline;
}
.links-2 div{
    display: flex;
    flex-direction: row;
}
.clone{
    align-items: flex-end;
}
.Social-media-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Social-media-links img{
    height: 20px;
    width: 20px;
}
hr{
    opacity: 15%;
}

